<!DOCTYPE html>
<html lang="it" xmlns="https://thymeleaf.org">

<head>
    
    <!-- Fragment head -->
    <div th:replace="~{ fragments :: head }"></div>

    <title>Best of the Year</title>
</head>

<body>

	<div th:replace="~{ fragments :: navbar('home') }"></div>

	<header class="py-2">
		
		<div class="container text-center">
			<h1>Best of the year by <span th:text="${mio_nome}"></span></h1>
		</div>

	</header>
	
	<main class="container pt-5 text-center">
				
		<div class="w-75 m-auto">
			<img class="img-fluid" th:src="@{/img/logo.jpg}" alt="logo" />
		</div>
		
		<p class="p-5">Questo è un testo placeholder, perché Lorem non funzione in Spring. Questo IDE mi rende molto insodisfatto.
			Che noia dover scrivere tutto questo a mano, per lo meno mi piace il suono della tastiera quando viene utilizzata.
			Mi pare di ricordare che se insieme ad un panino bevi un bicchiere di vino, la felicità.
			Poi vabbè, tutto questo è solo una prova, un'esercitazione per un qualcosa di più grande.
			Pare tutto un po' incasinato, ma spero che col tempo si districhi tutto.
		</p>	
		
	</main>

</body>

</html>