<!DOCTYPE html>
<html lang="it" xmlns="https://thymeleaf.org">

<head>
    
    <!-- Fragment head -->
    <div th:replace="~{ fragments :: head }"></div>

    <title>Best of the Year</title>
</head>

<body>

	<header class="py-2">
		
		<div class="container text-center">
			<h1>Best of the year by <span th:text="${mio_nome}"></span></h1>
		</div>
		
	</header>

	<main>
		
		<div class="container pt-5 text-center">
			<ul class="list-group">
				<li class="list-group-item" th:each="movie:${movies}" th:text="${movie.getTitle()}"></li>
			</ul>
		</div>
		
	</main>

</body>

</html>