<!DOCTYPE html>
<html lang="it" xmlns="https://thymeleaf.org">

<head>
       
    <!-- Fragment head -->
    <div th:replace="~{ fragments :: head }"></div>

    <title>Best of the Year</title>
</head>

<body>

	<div th:replace="~{ fragments :: navbar('songs') }"></div>
	
	<header class="py-2">
		
		<div class="container text-center">
			<h1>Best of the year by <span th:text="${mio_nome}"></span></h1>
		</div>
		
	</header>

	<main>
		
		<div class="container pt-5 text-center">
			<ul class="list-group">
				<li th:each="song : ${songs}" class="list-group-item"><a th:href="@{/songs/{id}(id = ${song.id})}" th:text="${song}"></a></li>
			</ul>
		</div>
		
	</main>

</body>

</html>